
#conversation {
	background-color: #F5F5F5;
	height : 530px;
	margin-top:2px;
	margin-bottom:7px;
	border-radius: 5px;
	background : rgb(255,255,255,0.5);
	overflow : auto;
}

.publication_user{
	
	padding:10px 10px 10px 10px;  
	display:flex;
	flex-direction: column;
    
}

.publication_autre {
	padding:10px 18px 10px 18px;  
	display:flex;
	flex-direction: column;
   	
}


.membre_user {
	font-weight : bold;
	margin-bottom: 5px;
	text-align: right;
	color:#214e06;
}

.publication_bloc1{
	display:flex;
}

.texte_user {
			
	padding-top: 10px;
	padding-right:20px;
	padding-bottom:10px;
	padding-left: 20px;
	
	border: 1px grey;
	background-color: #86BB71;
	color: white;		
	text-align: right;
	border-radius: 80px;
}

.texte_autres {
	
	margin-right:8px;
	margin-top:5px;
			
	padding-top: 10px;
	padding-right:20px;
	padding-bottom: 10px;
	padding-left: 20px;
	
	border: 1px grey;
	color: white;
	background-color: #94C2ED;	
	text-align: left;	
	border-radius: 80px;
}



.membre_autre {
	font-weight: bold;
	text-align: left;
	color:#204a87;
	background:none;

}



#publier {
	
	background-color: #DCDCDC;
	padding : 10px 20px;
	form:center;
	background : rgb(255,255,255,0.1);
	text-align:left;
	border-radius: 5px;	
}


h5 {
	font-weight : bold;
	color:white;
}

h3{
	background : rgb(255,255,255,0.5);
    font-weight: bold;  
    margin: 1% 0 0 0;
	text-align:center;
	text-shadow: 1px 1px 0px #eeeeec;
	div-align: right;
	border-radius: 5px;
}



.notification {
	
	display:flex;
	flex-direction: column;
    justify-content: center;
    padding:15px;
	
}

.notification_bloc1 {
	display: flex;
	justify-content: center;
			
}

.texte_notification {	

  color: black;
  background-color: none;
  padding:10px;  
}

.bar_reactions {
	margin-top:11px;
	margin-right:10px;
	
}

.bar_reactions:hover .emoji {
	display: inline-flex;
		
}

.emoji {
	display: none;
	background-color: white;
	border-radius: 10px;
	padding: 2px 2px 2px 2px;
	position:absolute;
	z-index:1;
}

.emoji a {
	background-color: white;
	font-family:'Abel', arial, serif;
<<<<<<< HEAD
	text-decoration:none;
=======
	text-decoration: none;
	
>>>>>>> 79deda2e6c7d328714d19ea44d359289c8944919
}


.reactions {
	display:flex;
} 

.NBreactions:hover .listeMembres {
	display:block;
	font-family:'Abel', arial, serif;
			
}



.listeMembres {
	display: none;
	text-align:center;
	background-color: black;
	color: white;
	padding: 0px 10px 10px 10px;	
	border-radius:5px;
	position: absolute;
}

.emoji a:hover{
	width: 100px;
} 
