body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 100%;
    height: 100%;
    font-family:'Abel', arial, serif;
    color: white;
    background-image: url("arriere-plan-pageGroupe.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
 
#conteneur-menu2 {
    width: 100%;
    height: 30px;
    background-color: black;
    border: 5px black double;
}
 
#conteneur-menu2 ul {
    padding: 0;
    margin: 0;
    /* background-color: yellow; */
}
 
#conteneur-menu2 ul li {
    list-style: none;
    /* background-color: red; */
    padding: 0px;
}
 
#conteneur-menu2 ul li a {
    text-decoration: none;
    background-color: green; */
    font-size: 15px;
    padding: 8px;
    font-weight: bold;
    display: block;
    color: white;
    letter-spacing: .2rem;
    background: transparent;
    width: 360px;
    -moz-transition: all .5s; 
    -webkit-transition: all .5s; 
    -o-transition: all .5s; 
    transition: all .5s;
    line-height: 20px;
}
 
 
#conteneur-menu2 ul li a:hover {
    background: rgb(48, 105, 129);
    padding-left: 20px;
    width: 300px;
    letter-spacing: .2rem;
    -moz-transition: all .5s; 
    -webkit-transition: all .5s; 
    -o-transition: all .5s; 
    transition: all .5s;
}

#bandeau {
    height: 8%;
    width: 100%;
    background-color: black;
    color: white;
    letter-spacing: .5rem;
    font-size: 2em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
}

#corps {
    display: flex;
    width: 100%;
    height: 90%;
}

#bloc_gauche {
    display: flex;
    width: 30%;
    height: 100%;
    flex-direction: column;
    background-color: blue;
}

#bloc_milieu {
	width: 40%;
	height: 100%;
	background-color: red;
}

#bloc_droite {
    display: flex;
    width: 30%;
    height: 100%;
    flex-direction: column;
    background-color: yellow;
}

#status {
	background-color: black;
	color: rgb(205, 55, 67);
	letter-spacing: .1rem;
	position: absolute;
	padding: 8px;
	left: 34px;
	top: 274px;
	z-index: 2;
}


/*/////////////////////////////*/
/*//////// Affichages /////////*/
/*/////////////////////////////*/

/*////////////// Afficher histogramme ////////////////*/

#histogramme {
	background-color: black;
	opacity: 0.65;
	width: 100%;
	height: 65%;
	overflow: auto;
}


/*////////////// Afficher les membres du groupe ////////////////*/

#afficherMembresGroupe {
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    text-align: center;
    background: black;
    border-radius: 5px;
    opacity: 0.65;
}

.membre_afficher {
    display: flex;
    padding: 8px;
    word-wrap: break-word;
}

#titre_membres {
    display: flex;
    font-weight: bold;
    padding: 8px;
    margin-top: 3px;
}

/*////////////// Afficher les défis ////////////////*/

#afficherDefisGroupe {
    height: 35%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    text-align: center;
    background-color: black;
    border-radius: 8px;
    opacity: 0.65;
}

.defi_afficher {
    display: flex;
}

#titre_defis .nom_aff {
    width: 20%;
}

#titre_defis .desc_aff {
    width: 40%;
}

#titre_defis .points_aff {
    width: 10%;
}

#titre_defis .type_aff {
    width: 10%;
}

#titre_defis .envoyer_aff {
	width: 20%;
}

#titre_defis {
    display: flex;
    flex-direction: center;
    align-items: center;
    font-weight: bold;
}

.nom_aff {
    width: 20%;
}

.desc_aff {
    width: 40%;
}

.points_aff {
    width: 10%;
}

.type_aff {
    width: 10%;
}

.envoyer_aff {
	width: 20%;
}

/*////////////// Demande CSJF ////////////////*/

#csjf_div {
	height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    background-color: black;
    border-radius: 8px;
    opacity: 0.65;
}

#csjf_titre {
	font-weight: bold;
	padding-left: 20px;
    letter-spacing: .1rem;
}

#csjf_soustitre {
	letter-spacing: .1rem;
	padding-left: 10px;
}

#csjf_div p {
	margin-top: 10px;
	letter-spacing: .1rem;
	padding-left: 10px;
}

#zone_texte {
	margin-top: -30px;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#csjf {
	margin-top: 60px;
	margin-left: 40px;
	margin-bottom: 20px;
}













