body {
    margin: 0;
    padding: 0;
    font-family:'Abel', arial, serif;
    color: white;
    background-image: url("arriere-plan-pageGroupe.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5px;
}
 
#conteneur-menu2 {
    width: 360px;
    margin-top: 80px;
    margin-left: 0px;
    background-color: black;
    border: 5px black double;
}
 
#conteneur-menu2 ul {
    padding: 0;
    margin: 0;
    /* background-color: yellow; */
}
 
#conteneur-menu2 ul li {
    list-style: none;
    /* background-color: red; */
    padding: 0px;
}
 
#conteneur-menu2 ul li a {
    text-decoration: none;
    /* background-color: green; */
    font-size: 15px;
    padding: 8px;
    font-weight: bold;
    display: block;
    color: white;
    letter-spacing: .2rem;
    background: transparent;
    width: 360px;
    -moz-transition: all .5s; 
    -webkit-transition: all .5s; 
    -o-transition: all .5s; 
    transition: all .5s;
    line-height: 20px;
}
 
 
#conteneur-menu2 ul li a:hover {
    background: rgb(48, 105, 129);
    padding-left: 20px;
    width: 300px;
    letter-spacing: .2rem;
    -moz-transition: all .5s; 
    -webkit-transition: all .5s; 
    -o-transition: all .5s; 
    transition: all .5s;
}

#titre {
    height: 100px;
    background-color: black;
    color: white;
    letter-spacing: .5rem;
    font-size: 2em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#corps {
    display: flex;
    justify-content: space-around;
}

#bloc_gauche {
    display: flex;
    flex-direction: column;
}

#demandeValiderDefi {
    margin-top: 180px;
    margin-left: -50px;
    background-color: black;
    padding: 12px;
    /* background-color: green; */
    border-radius: 5px;
}

#titre_demande {
    margin-top: 0px;
    /* background-color: green; */
    font-weight: bold;
    letter-spacing: .1rem;
}

#label {
    /* background-color: blue; */
    letter-spacing: .1rem;
    margin-left: 5px;
    font-size: 0.9em;
}

#liste {
    margin-top: 8px;
    margin-left: 25px;
    margin-bottom: -10px;
}

#bouton_envoyer {
    margin-left: 25px;
}

#bloc_droite {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

#afficherMembresGroupe {
    background: black;
    margin: auto;
    padding: auto;
    border-radius: 5px;
}

#afficherDefisGroupe {
    background-color: black;
    margin-top: 180px;
    border-radius: 5px;
    margin-right: -110px;
}

/*/////////////////////////////*/
/*//////// Affichages /////////*/
/*/////////////////////////////*/

/*////////////// Afficher les membres du groupe ////////////////*/

#afficherMembresGroupe {
    height: 200px;
    width: 780px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    text-align: center;
}

.membre_afficher {
    display: flex;
    padding: 8px;
    word-wrap: break-word;
}

#titre_membres .nom1_aff {
    width: 200px;
}

#titre_membres .prenom_aff {
    width: 200px;
}

#titre_membres .email_aff {
    width: 380px;
}

#titre_membres {
    display: flex;
    margin-top: 3px;
    font-weight: bold;
    padding: 8px;
}

.nom1_aff {
    width: 200px;
    margin: 6px;
}

.prenom_aff {
    width: 200px;
    margin: 6px;
}

.email_aff {
    width: 380px;
    margin: 6px;
}

/*////////////// Afficher les défis ////////////////*/

#afficherDefisGroupe {
    height: 200px;
    width: 940px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    text-align: center;
}

.defi_afficher {
    display: flex;
    padding: 8px;
}

#titre_defis .nom_aff {
    width: 150px;
}

#titre_defis .desc_aff {
    width: 500px;
}

#titre_defis .points_aff {
    width: 90px;
}

#titre_defis .type_aff {
    width: 200px;
}

#titre_defis {
    display: flex;
    margin-top: 3px;
    font-weight: bold;
    padding: 8px;
}

.nom_aff {
    width: 150px;
    margin: 6px;
}

.desc_aff {
    width: 500px;
    margin: 6px;
}

.points_aff {
    width: 90px;
    margin: 6px;
}

.type_aff {
    width: 200px;
    margin: 6px;
}