@import url(https://fonts.googleapis.com/css?family=Nunito:300);

body {
	margin-top: -20px;
}

h4 {
	padding : 15px 0px;
}

.imageDeFond {
	/* La position est fixée en haut à gauche, en arrière-plan de la page */
	position: fixed;
	left: 0;
	right: 0;
	z-index: 1;
	
	/* On indique l'image de fond et les dimensions qu'elle occupe */
	display: block;
	background-image: url(arriere-plan-profil.jpg);
	background-size : 2000px 1200px;
	width: 2000px;
	height: 1200px;
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	filter: blur(5px);
}


.contenu2 {
	/* Le contenu est fixé en haut de la page */
	position: fixed;
	left: 0;
	right: 0;
	
	/* Il est mis au premier plan */
	z-index: 9999;
}

#contenu {
	margin:20px;
	text-align: justify;
	padding: 10px;
	border-radius : 0px;
}

#contenu>.rightcolumn {
	margin-right:-30px;
	margin-top:-50px;
	text-align: justify;
	padding: 0px;
	right : 0;
	border-radius:0px:
}

/* ORGANISATION DE LA PAGE */
.leftcolumn {
    float: left;
    width: 70%;
    padding-left: 20px;
}

.rightcolumn {
	float: right;
	width: 25%;
}

.sous-leftcolumn {
    float: left;
    width: 48%;
}

.sous-rightcolumn {
	float: right;
	width: 48%;
}

.rightcolumn>.card {
	width : 300%;
	background : #555753;
	border-radius : 0px;
}

.card-stat {
	margin-bottom : 35px;
	color: white;
	height : 500px;
	padding: 20px;
	border-radius : 5px;
	background : #555753;
	width : 100%;
    background-color: rgba(255, 255, 255, 0.2);
}

#histo {
	margin-bottom : 20px;
	width: 78%;
	color: white;
	margin-left : auto;
	margin-right: auto;
	border-radius: 8px;
}

.card {
	overflow-x:auto;
	white-space:nowrap;
	color: white;
	padding: 5px 15px;
	border-radius : 5px;
    background-color: rgba(255, 255, 255, 0.2);
	list-style: none;
	display : block;
	height : 150px;
}

.diff {
	list-style-type: none;
	width: 100%;
	margin-left : -40px;
	margin-top: 0;
	margin-bottom: 0;
 }
 
.groupe {
	display: inline;
}

.card-coord {
	color: white;
	height:800px;
    background-color: rgba(195, 215, 246, 0.8);
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.delete:link {
	background-color: white;
	padding: 0;
}

.delete:hover {
	text-decoration: none;
	backgroud-color: blue;
}

.img-circle {
    border-radius: 50%;
    margin-top : 20px;
    display:block;
    line-height: 5;
}

img {
	margin-left : auto;
	margin-right : auto;
	width : 230px;
	height : 230px;
}

.name {
	font-family: "Nunito", sans-serif;
	font-size: 35px; 
}

.name>p{
	text-align : center;
}