@CHARSET "UTF-8";

#header h1{
    padding: 40px;
    text-align: center;
    background-image: url("arriere-plan-header.jpg");
    background-size : 1200px 1200px;
}

.leftcolumn {   
    float: left;
    width: 65%;
    padding-left: 20px;
}

.rightcolumn {
    margin-right: 13px;
    float: right;
    width: 33%;
    padding-left: 20px;
}

.card {
    background-color: #729fcf;
    padding: 20px;
    margin-top: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


body {
  padding: 20px;
  font: 300 15px/1.5 "Helvetica Neue", helvetica, arial, sans-serif;
  background-image: url("arriere-plan.jpg");
}

.topnav {
    overflow: hidden;
    background-color: #3465a4;
} 
  

.topnav a {
   float: left;
   display: inline-block;
   color: #f2f2f2;
   text-align: center;
   padding: 15px 15px;
   -webkit-transition: 2s;
   transition: 2s;
   text-decoration: none;
}
  

.topnav a:hover {
   background-color: #babdb6;
    color: white;
    display: block;
}


a:link, a:visited {
    background-color: #3465a4;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
  
a:hover, a:active {
 background-color: #729fcf;
}
	
		#main_nav ul {
			background-color: #3465a4;
			float: left;
			-webkit-transition: 2s;
			transition: 2s;
			list-style-type: none;
		}
	
		#main_nav li {
			font: normal 9pt verdana, helvetica, sans-serif;
			float: left;
			position: relative;
			width: 200px;
			list-style-position: outside;
			list-style: none;
			-webkit-transition: 2s;
			transition: 2s;
		}
	
		#main_nav > ul > li > a, h1 {
			text-transform: uppercase;
		}
	
		#main_nav a {
			display: block;
			padding: 15px 15px;
			text-decoration: none;
			color: #dddddd;
		}

		#main_nav ul ul {
			position: absolute;
			top: 100%;
			visibility: hidden;
			opacity: 0;
		}
	
		#main_nav li:hover > ul {
			visibility: visible;
			opacity: 1;
		}
